In [1]:
import numpy as np

# Question 1

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190

In [10]:
expense = {"Jan": 2200, "Feb": 2350, "March": 2600, "April": 2130, "May": 2190}

#1. In Feb, how many dollars you spent extra compare to January?

In [12]:
F_J = expense["Feb"] - expense["Jan"]
print(F_J)

150

2. Find out your total expense in first quarter (first three months) of the year.

In [20]:
M_3 = expense["Jan"] + expense["Feb"] + expense["March"]
M_3

7150

3. Find out if you spent exactly 2000 dollars in any month

In [32]:
for i in expense.values():
    if i == 2000:
         print("True")
    else:
        print("False")

False
False
False
False
False

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [34]:
expense["June"] = 1980
expense

{'Jan': 2200,
 'Feb': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'June': 1980}

5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [38]:
expense.update({"April": expense["April"]-200})

In [39]:
expense

{'Jan': 2200,
 'Feb': 2350,
 'March': 2600,
 'April': 1730,
 'May': 2190,
 'June': 1980}

# Question 2

In [57]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list

In [58]:
print(len(heros))

5

2. Add 'black panther' at the end of this list

In [59]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [60]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [56]:
heros.insert(3, 'black panther')
heros

[' ',
 'a',
 'black panther',
 'black panther',
 'c',
 'captain america',
 'd',
 'doctor strange',
 'e',
 'g',
 'iron man',
 'n',
 'o',
 'o',
 'r',
 'r',
 's',
 'spider man',
 't',
 't']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [66]:
heros[1:3] = [ 'doctor strange']

In [67]:
heros

['captain america', 'doctor strange', 'spider man', 'thor']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [61]:
heros.sort()
heros

['captain america', 'hulk', 'iron man', 'spider man', 'thor']

# Question 3

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [65]:
max_num = int(input('Enter the max number'))
odd = []
for i in range(0,max_num):
    if i%2 != 0:
        odd.append(i)
print(odd)

Enter the max number20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]